@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

:root {
    --font-roboto: "Roboto Slab", serif;
    --font-raleway: "Raleway", sans-serif;
}
  
body {
    font-family: var(--font-roboto);
    background-color: #212426;
}
  
.app {
    background-color: #f5f5f5;
}


.navbar {
    width: 100%;

    padding-bottom: 1rem;
    padding-bottom: 2rem;

    background: #ffffff;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}

.navbar div:nth-of-type(1){
    padding-right: 1rem;
    padding-top: 0.5rem;

    display: flex;
    justify-content: center;

}

.navbar div:nth-of-type(1) img {
    width: 30%;
}


.menubar {

    display: flex;
    justify-content: center;
    align-items: center;
}

.menubar ul{
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuitem {

    margin: 1rem 1.8rem;
    
}

.menuitem a{
    text-decoration: none;

    font-size: 1.2rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    color: #a1a1a1;
    
}

.menuitem a:hover {
    text-decoration: underline;
    color: #3390e7;
}

.filters{
    display: flex;
    justify-content: flex-start;
    align-content: center;

    padding-left: 1rem;
}

.search{
    display: flex;
    justify-content: flex-end;
    align-content: center;

    padding-right: 1rem;
}

.empty {
    width: 100%;
    margin-top: 3rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .empty h2 {
    font-size: 1.25rem;
    color: #000000;
    font-family: var(--font-raleway);
}

.container {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.articlecard {
    width: 310px;
    height: 460px;
    margin: 1.5rem;

    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.articlecard div:nth-of-type(1) {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
    color: #272727;
    font-weight: 700;
    font-size: large;
  }

.articlecard:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}

.articlecard div:nth-of-type(2) {
    width: 100%;
    height: 100%;
  }
  
.articlecard div:nth-of-type(2) img {
    height: 100%;
    width: 100%;
}

.articlecard div:nth-of-type(3) {
    z-index: 2;
    background-color: #e2e2e1;
    padding: 16px 24px 24px 24px;
  
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.articlecard div:nth-of-type(3) span {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #272727;
}

.articlecard div:nth-of-type(3) h3 {
    margin-top: 5px;
    font-family: "Roboto Slab", serif;
    color: #223140;
}

.articlecard:hover div:nth-of-type(2) {
    height: 100%;
    opacity: 0.3;
} 

.articlecard:hover div:nth-of-type(3) {
    background-color: transparent;
}
  
  .articlecard:hover div:nth-of-type(1) {
    opacity: 1;
}
